<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Fasl Studio</title>
</head>
<body>
    <!-- Header du site -->
    <%- include('./blocks/header.ejs'); %>

    
    <!-- Body du site -->
    <h1>Fasl Studio Home Page</h1>
    <h2>Il y'en a qui regardent et il y'en a qui <b>portent</b>.</h2>


    <!-- Footer du site -->
    <%- include('./blocks/footer.ejs'); %>
</body>
</html>