footer {
	margin: 0;
	padding: 0;
	background-color: black;
	width: 100%;
	min-height: 100px;
	color: white;
	margin: auto;
	position:absolute;
}

footer a, footer p {
	font-size: 16px;
	margin: 5%;
	vertical-align: middle;
}

footer a {float: left;}
footer p {float: right;}

footer a img {
	width: 18px;
	height: 20px;
}