// Imports
@import url(https://fonts.googleapis.com/earlyaccess/thabit.css);

// app global css in SCSS form

* {
  font-family: Thabit;
}

* h1 {
  font-size: 286.362px;
  color: #0d1f22;
}

* h2 {
  font-size: 176.985px;
  color: #0d1f22;
}

* h3 {
  font-size: 109.385px;
  color: #0d1f22;
}
* h4 {
  font-size: 67.605px;
  color: #0d1f22;
}

* h5 {
  font-size: 41.783px;
  color: #0d1f22;
}

* h6 {
  font-size: 25.824px;
  color: #0d1f22;
}

* p {
  font-size: 16px;
}

.img-4-style {
  min-height: 300px;
}

.img-changeur-d-image {
  min-height: 300px;
  min-width: 200px;
}

.bottom-line-hover:hover {
  border-bottom: 1px solid black;
}

.u-color {
  text-decoration: underline;
  text-decoration-color: #b38a58;
  height: 1px;
  text-decoration-thickness: 3px;
}

/* FOOTER CSS */
footer {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
  min-height: 80px;
  max-height: 180px;
  color: white;
  margin: auto;
  position: absolute;
}

footer a,
footer p {
  font-size: 16px;
  margin: 2%;
  vertical-align: middle;
}

footer a {
  float: left;
}
footer p {
  float: right;
}

footer a img {
  width: 18px;
  height: 20px;
}

.first-div {
  padding-top: 50px;
}

// Profil Page
// ------------------------------------------------------------
.profil-form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.profil-form h3 {
  font-size: 34px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.profil-form img {
  width: 120px;
  height: 90px;
}

.profil-form label {
  display: block;
  margin-top: 30px;
  font-size: 19px;
  font-weight: 500;
}

.profil-form p {
  margin-top: 20px;
  font-size: 12px;
  opacity: 0.8;
}

.profil-form input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
.profil-form button {
  margin-top: 30px;
  width: 100%;
  background-color: #fff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.profil-form button:hover {
  background-color: #f0efeb;
  transition: 0.6s;
}
.social {
  display: flex;
  font-size: 18px;
}
.social button {
  width: 100%;
  font-size: 18px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
  cursor: pointer;
}
.social button:hover {
  background-color: rgba(255, 255, 255, 0.47);

  transition: 0.6s;
}
.social i {
  margin-right: 4px;
}