// Imports
@import url(https://fonts.googleapis.com/earlyaccess/thabit.css);

// app global css in SCSS form

* {
  font-family: Thabit;
}

* h1 {
  font-size: 286.362px;
  color: #0d1f22;
}

* h2 {
  font-size: 176.985px;
  color: #0d1f22;
}

* h3 {
  font-size: 109.385px;
  color: #0d1f22;
}
* h4 {
  font-size: 67.605px;
  color: #0d1f22;
}

* h5 {
  font-size: 41.783px;
  color: #0d1f22;
}

* h6 {
  font-size: 25.824px;
  color: #0d1f22;
}

* p {
  font-size: 16px;
}

.img-4-style {
  min-height: 300px;
}

.img-changeur-d-image {
  min-height: 300px;
  min-width: 200px;
}

.bottom-line-hover:hover {
  border-bottom: 1px solid black;
}

.u-color {
  text-decoration: underline;
  text-decoration-color: #b38a58;
  height: 1px;
  text-decoration-thickness: 3px;
}

/* FOOTER CSS */
footer {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
  min-height: 80px;
  max-height: 180px;
  color: white;
  margin: auto;
  position: absolute;
}

footer a,
footer p {
  font-size: 16px;
  margin: 2%;
  vertical-align: middle;
}

footer a {
  float: left;
}
footer p {
  float: right;
}

footer a img {
  width: 18px;
  height: 20px;
}

.first-div {
  padding-top: 50px;
}
